@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Italianno";
  src: url("../assets/fonts/ITALIANNO-REGULAR.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.MainContent_2_main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/images/background.jpg'); 
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center; 
  color: #000;
}

.MainContent_2_title {
  font-family: "Montserrat ExtraBold";

  font-size: 5.6rem;
}

.MainContent_2_subtitle {
  font-family: "Italianno";
  font-size: 4.2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  text-align: center;
  line-height: 85%;
}

.MainContent_2_para {
  margin-top: 10%;
  font-family: "Montserrat";
  font-size: 1.2rem;
  text-align: center;
  padding-left: 5rem;
  padding-right: 5rem;
}

.MainContent_2_button {
  margin-top: 5%;
  margin-bottom: 5%;

  font-family: "Montserrat SemiBold";
  font-size: 0.8rem;
  font-weight: bold;
  color: #000;
  border-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4%;
width: 15rem;
}

.MainContent_2_button_img {
  max-width: 10%;
}